body{
	width: 560px;
	height: 240px;
	background-color: #ffffff;
	overflow-x: hidden;
}
.container{
	width: 400px;
	display: flex;
	margin-top: 14%;
}
nav{
	width: 111% !important;
}
.loginLabel{
	margin: 0 auto;
	color: #fff;
	color: #EE6E73;

	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}
.loginLabel span{
	color: blue;
}
.loginInput{

}
.password{
	margin-top: 10px;
}
.btnDiv{

	width: 630px;
	margin-top: 6%;
}
.btnDiv button {
	width: 90px;
}
.footer{
	width: 100%;
	background-color: #383B58;
	height: 24px;
	margin: 0;
	margin-top: 8%;
}
nav {
	height: 46px !important;
	line-height: 46px !important;


}
h6{
	float: right;
}
img{
	width: 20px;
}