body{
	width: 560px;
	height: 240px;
	background-color: aquamarine;

}
.container{
	width: 400px;
	display: flex;
	margin-top: 14%;
}
.loginLabel{
	margin: 0 auto;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}
.loginLabel span{
	color: blue;
}
.loginInput{
	margin-left: 6%;
	width: 30%;
}
.password{
	margin-top: 10px;
}
.btnDiv{
	margin-left: 18%;
	width: 376px;
	margin-top: 6%;
}
.btnDiv button {
	width: 90px;
}
.footer{
	width: 100%;
	background-color: #383B58;
	height: 24px;
	margin: 0;
	margin-top: 8%;
}